@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    font-family: 'Outfit', sans-serif !important;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

::-webkit-scrollbar {
    display: none;
}

.navbar {
    @apply fixed top-3 left-1/2 transform -translate-x-1/2 w-[90%] max-w-7xl mx-auto rounded-full border dark:border-gray-700 border-gray-300 transition-colors duration-500 py-2 shadow-md z-50
}

.dropdown-menu {
    @apply absolute left-0 top-full mt-2 w-52 font-normal dark:bg-gray-950 bg-gray-200 border border-gray-300 dark:border-gray-700 rounded-xl shadow opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-40
}

.navbar-recruiter-login-btn {
    @apply flex items-center gap-3 text-gray-800 dark:text-gray-300 whitespace-nowrap px-4 sm:px-6 py-1.5 sm:py-2 rounded-xl border border-gray-300 dark:border-gray-700 hover:bg-gray-200 dark:hover:bg-gray-800 hover:border-gray-500 dark:hover:text-white transition-colors duration-500 cursor-pointer
}

.loader {
    width: fit-content;
    font-size: 40px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #0e040400;
    -webkit-text-stroke: 1px #6a6a6a;
    --g: conic-gradient(#e6dcdc 0 0) no-repeat text;
    background: var(--g) 0, var(--g) 1ch, var(--g) 2ch, var(--g) 3ch, var(--g) 4ch, var(--g) 5ch, var(--g) 6ch;
    animation:
        l18-0 2s linear infinite alternate,
        l18-1 4s linear infinite;
}

.loader:before {
    content: "Loading";
}

@keyframes l18-0 {
    0% {
        background-size: 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0
    }

    14.28% {
        background-size: 1ch 100%, 1ch 50%, 1ch 0, 1ch 0, 1ch 0, 1ch 0, 1ch 0
    }

    28.57% {
        background-size: 1ch 100%, 1ch 100%, 1ch 50%, 1ch 0, 1ch 0, 1ch 0, 1ch 0
    }

    42.85% {
        background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 50%, 1ch 0, 1ch 0, 1ch 0
    }

    57.14% {
        background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 50%, 1ch 0, 1ch 0
    }

    71.43% {
        background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 50%, 1ch 0
    }

    85.71% {
        background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 50%
    }

    100% {
        background-size: 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%, 1ch 100%
    }
}

@keyframes l18-1 {

    0%,
    50% {
        background-position-y: 100%
    }

    50.01%,
    to {
        background-position-y: 0
    }
}

/* Custom css for job description */
.rich-text {
    @apply text-base dark:text-gray-300 text-black/70 transition-colors duration-500
}

.rich-text p {
    margin-bottom: 16px;
}

.rich-text h1 {
    @apply text-4xl font-extrabold dark:text-gray-200 text-black/60 transition-colors duration-500
}

.rich-text h2 {
    @apply text-2xl font-bold dark:text-gray-200/70 text-black/60 mb-4 transition-colors duration-500
}

.rich-text h3 {
    @apply text-xl font-semibold dark:text-white text-black mb-2.5 transition-colors duration-500
}

.rich-text h4 {
    @apply text-base font-semibold dark:text-white text-black mb-2.5 transition-colors duration-500
}

.rich-text h5 {
    @apply text-sm font-normal dark:text-white text-black mb-2.5 transition-colors duration-500
}

.rich-text h6 {
    @apply text-xs font-light dark:text-white text-black mb-2.5 transition-colors duration-500

}

.rich-text strong {
    font-weight: 700;
}

.rich-text ol {
    margin-left: 30px;
    list-style-type: decimal;
    margin-bottom: 20px;
}

.rich-text ul {
    margin-left: 30px;
    list-style-type: disc;
}

.rich-text li {
    margin-bottom: 8px;
}

/* Number input customization on the recruiter dashboard */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield; /* Firefox */
}

/* Varsayılan (light) tema */
.ql-toolbar {
  border: 2px solid #e2e8f0 !important; /* light border */
  border-radius: 5px;
  color: #000 !important;
}

.ql-picker {
  color: #000 !important;
}
.ql-picker:hover {
  color: #333 !important;
}

.ql-stroke {
  stroke: #000 !important;
}

.ql-container.ql-snow {
  border: 2px solid #e2e8f0 !important;
  border-top: 0 !important;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.dark .ql-toolbar {
  border: 2px solid #364153 !important;
  color: #fff !important;
}

.dark .ql-picker {
  color: #fff !important;
}
.dark .ql-picker:hover {
  color: #ddd !important;
}

.dark .ql-stroke {
  stroke: #fff !important;
}

.dark .ql-container.ql-snow {
  border: 2px solid #364153 !important;
  border-top: 0 !important;
}
